@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>Rodrigo Galvão</h3>

<address>
    Desenvolvedor
</address>

<address>
    <strong>Email:</strong> <a href="mailto:digaogalvao@gmail.com">digaogalvao@gmail.com</a>
</address>